*{
    background-color: #F5F8FF;
    margin: 0;
    padding: 0;
}
header{
    margin-top: 30px;
}
.font_Noto {
    font-family: "Noto Serif", serif;
}
.font_Inter {
    font-family: "Inter", sans-serif;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
/* Navigation Bar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin-top: 30px;

}
.nav_links{
    display: flex;
    gap: 48px;
    white-space: nowrap;
    font-size: bold;
}
.nav_links li {
    list-style: none;
}
.nav_links li a{
    text-decoration: none;
    font-size: bold;
    color: rgb(0, 0, 0);
}
.nav_links li:nth-child(1) a {
    color: #252432;
}
.nav_links li:nth-child(2) a {
    color: #8987A1;
}
.nav_links li:nth-child(3) a {
    color: #8987A1;
}
.nav_links li:nth-child(4) a {
    color: black;
}
/* Shared  */
.orange{
color:#E95A08 ;


}
/* -- Banner Section -- */
.bannere_section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}
.banner_header{
    font-size: 4rem;
}
.banner_style{
    color: #E95A08;
}
.font_Inter{
    font-size: 1.37rem;
    color: #8987A1;
}
.banner_img{
    width: 100%;
    max-width: 570px;
}
.banner_img img {
  max-width: 100%;
  height: auto;
  display: block;
}


@media screen and (max-width:576px)
    
  {
    /* Navigation Bar */
.nav_item{
    display: none;
}
.nav_item:nth-child(4){
    display: block;
}
.banner_header{
    font-size: 1.5rem;
}
.bannere_section{
    display: flex;
    flex-direction: column-reverse;
}
.banner_header{
    margin: 28px 16px 13px 16px;
   text-align: left;
   }
.banner_p{
    margin: 13px 16px 65px 16px;
    font-size: 1.14rem;
}
} 



